
<div class="statistics">
  <h3 class="statistics__subtitle">Difficulty: <%= locals.difficulty %></h3>
  <div class="statistics__row">
    <span class="statistics__row-title">Total games:</span>
    <span class="statistics__row-data"><%= locals.gamesNumber %></span>
  </div>
  <div class="statistics__row">
    <span class="statistics__row-title">Wins:</span>
    <span class="statistics__row-data"><%= locals.wins %></span>
  </div>
  <div class="statistics__row">
    <span class="statistics__row-title">Loses:</span>
    <span class="statistics__row-data"><%= locals.loses %></span>
  </div>
  <div class="statistics__row">
    <span class="statistics__row-title">Best time:</span>
    <span class="statistics__row-data"><%= locals.bestTime %></span>
  </div>
</div>

